<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DinerMax3000.Bussiness.Properties.Settings.DinerMax3000ConnectionString"
            connectionString="Data Source=.;Initial Catalog=DinerMax3000;Persist Security Info=True;User ID=sa;Password=Akhilesh@123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>